<!doctype html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <title>XENOPTICS</title>
  <base href="/frontend/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- IF WANT TO CHANGE ICON ALSO NEED TO CHANGE IN angular-cli.json -->
  <link rel="shortcut icon" href="{%  static 'webapp/XENO.ico' %}">
  <!-- MATERIAL ICONS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <app-root></app-root>
  <script src="{% static 'webapp/inline.bundle.js' %}" type="text/javascript"></script>
  <script src="{% static 'webapp/polyfills.bundle.js' %}" type="text/javascript"></script>
  <script src="{% static 'webapp/styles.bundle.js' %}" type="text/javascript"></script>
  <script src="{% static 'webapp/vendor.bundle.js' %}" type="text/javascript"></script>
  <script src="{% static 'webapp/main.bundle.js' %}" type="text/javascript"></script>
  
<!-- <script type="text/javascript" src="inline.bundle.js"></script><script type="text/javascript" src="polyfills.bundle.js"></script>
  <script type="text/javascript" src="styles.bundle.js"></script>
  <script type="text/javascript" src="vendor.bundle.js"></script>
  <script type="text/javascript" src="main.bundle.js"></script></body> -->
</html>
